# .gitignore for FastAPI

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/


# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebooks
.ipynb_checkpoints

# Model files
models/*.pkl
!models/personality_model_rf_multi.pkl
!models/feature_scaler.pkl
!models/music_score_scaler.pkl
!models/label_scaler.pkl
!models/onet_bigfive_mapped.pkl
!models/kmeans_model.pkl

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE configs
.vscode/
.idea/

# datasets
*.json
*.csv
!data/user_bigfive.csv
!data/user_genre_counts.json

# past scripts
scripts/past/
